{{#each bulkinfoMap}}
	<div class="bulkInfo">
		{{#if ../settings.button}}
			{{{infos ../../settings.button raw}}}
		{{/if}}
		{{#if raw.isPooled}}
			{{{takeTask null raw.id raw.owner_userName}}}
		{{/if}}
		<strong>{{raw.metadata_wfcnr_wfCounterId}}</strong> {{{priority bpm_priority}}}
		<br />
		<strong>{{i18n "label.taskinfo.compito"}} {{message}}</strong>
		<br />
		{{i18n "label.taskinfo.type"}} {{title}}
		<br />
		{{#if raw.properties_bpm_comment}}
			{{i18n "label.taskinfo.comment"}} {{raw.properties_bpm_comment}}
		<br />
		{{/if}}
		{{i18n "label.bpm.initiator"}} {{bpm_initiator}} {{date startDate}} {{{dueDate dueDate}}}.
	</div>
{{/each}}